<form #registerForm="ngForm" (ngSubmit)="register()">
    <hr>
    <h3>Register</h3>
    <hr>

    <div *ngIf="errors.length > 0" class="alert alert-danger" role="alert">
        <div *ngFor="let error of errors">{{error}}</div>
    </div>


    <div class="form-group">
        <label for="first-name">
           Name
       </label>
        <input #name="ngModel" [(ngModel)]="user.name" type="text" required minlength="2" class="form-control" id="first-name" name="first-name">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 2 characters long.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" required email>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>

            <div *ngIf="email.errors.email">
                Please provide valid email address.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">
           Password
           <span *ngIf="password.invalid && password.dirty">
               <span *ngIf=" password.errors.required ">
                   is required
               </span>
               <span *ngIf=" password.errors.minlength ">
                   must be at least 8 chars
               </span>
               <span *ngIf=" password.errors.pattern ">
                   must contain at least one number
               </span>
           </span>
       </label>
        <input #password="ngModel" [(ngModel)]="user.password" required minlength="8" pattern="\w*[0-9]{1,}\w*" [class.alert-danger]=" password.invalid && password.dirty "
            type="password" class="form-control" id="password" name="password">
    </div>


    <div class="form-group">
        <label for="password_confirmation">
           Confirm Password
           <span *ngIf="confirmPassword.invalid && confirmPassword.dirty">
               <span *ngIf=" confirmPassword.errors.required ">
                   Is required
               </span>
           </span>
           <span *ngIf="confirmPassword.touched && confirmPassword.value !== password.value">
               Is not the same as password
           </span>
       </label>
        <input #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required [class.alert-danger]=" confirmPassword.invalid && confirmPassword.dirty"
            type="password" class="form-control" id="password_confirmation" name="password_confirmation">
    </div>

    <button type="submit" [disabled]="!registerForm.valid || confirmPassword.value !== password.value" class="btn btn-primary btn-block">Register</button>
</form>