<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav" *ngIf="auth.isAuthenticated">
        <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Movie</a>
        </li>
        <li class="nav-item">
            <app-search></app-search>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!auth.isAuthenticated">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated" (click)="auth.logout()">
            <a class="nav-link">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isAuthenticated">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
    </ul>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>