<div class="container">
    <hr>
    <form #movieForm="ngForm" (ngSubmit)="submit(movie)">
        <div class="form-group">
            <label>Name</label>
            <input #name="ngModel" required minlength="2" [(ngModel)]="movie.name" name="name" type="text" class="form-control">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 2 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Movie Image</label>
            <input #image_url="ngModel" required [(ngModel)]="movie.image_url" name="image_url" class="form-control">
            <div *ngIf="image_url.invalid && (image_url.dirty || image_url.touched)" class="alert alert-danger">
                <div *ngIf="image_url.errors.required">
                    Image url is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Director</label>
            <input #director="ngModel" required minlength="2" [(ngModel)]="movie.director" name="director" type="text" class="form-control">
            <div *ngIf="director.invalid && (director.dirty || director.touched)" class="alert alert-danger">
                <div *ngIf="director.errors.required">
                    Director name is required.
                </div>
                <div *ngIf="director.errors.minlength">
                    Name must be at least 2 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Duration</label>
            <input pattern="[0-9]*" #duration="ngModel" required [(ngModel)]="movie.duration" name="duration" type="text" class="form-control">
            <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger">
                <div *ngIf="duration.errors.required">
                    Duration field is required.
                </div>
                <div *ngIf="duration.errors.pattern">
                    Must be digits.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Release date</label>
            <input #release_date="ngModel" required [(ngModel)]="movie.release_date" name="release_date" type="text" class="form-control"
                date>
            <div *ngIf="release_date.errors?.date">
                Provide valid date.
            </div>
        </div>
        <div class="form-group">
            <label>Genres</label>
            <input required [(ngModel)]="genres" name="genres" type="text" class="form-control">
        </div>
        <br>
        <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
            <button [disabled]="!movieForm.valid" type="submit" class="btn btn-primary mr-2">Add movie</button>
            <button type="button" class="btn btn-default mr-2" (click)="movieForm.reset()" [disabled]="movieForm.form.pristine">
                        Reset
                  </button>
        </div>
    </form>
</div>