<h1>Login</h1>

<form #loginForm="ngForm" (ngSubmit)="login(email.value, password.value)">
    <div class="form-group">
        <label>Email address</label>
        <input #email name='email' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input #password name='password' type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>