
<ul class="list-group">
    <li class="list-group-item active">
        {{ movieRow.name }}
    </li>
    <li>
        <img src = "{{ movieRow.image_url }}">
    </li>
    <li class="list-group-item">
        Director: {{ movieRow.director }}
    </li>
    <li class="list-group-item">
        <small>
            Duration: {{ movieRow.duration }}
        </small>
    </li>
    <li class="list-group-item">
        <small>
            Release date: {{ movieRow.release_date | date: 'dd/MM/yyyy' }}
        </small>
    </li>
    <li class="list-group-item">
        <small>
            Genre: {{ movieRow.genres }}
        </small>
    </li>
    <button class="btn btn-secondary" (click)="addMovie(true)" [disabled]="voted">Click me</button>
    <hr>
</ul>
